@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;

}

.contenedor {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 20px;

}

.calculadora {

  display: flex;
  flex-direction: column;
  width: 500px;
  font-size: 2em;
  border: 1px solid gray;

}

.visor {
  width: 100%;
  padding: 25px 15px;
  text-align: right;
  overflow-x: auto;
  border: 1px solid gray;
}

.teclado {
  display: flex;
  width: 100%;

}

.numeros {

  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.boton {
  width: 25%;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid gray;
  background-color: white;

}
.boton.large {
  width: 50%;
}
.boton.toolarge {
  width: 75%;
}
.boton:hover{
  filter: brightness(80%);
  transition: -2s;
}
.boton.celeste{

background-color: #CDEDF4;

}


